@import "../../variables";

.container--works, .container--workpage {
	width: 100vw;
	height: 100vh;
	//background-image: url("/images/background3.png");
	.container--menu {
		background: transparent;
	}
}

.container--workitem-rows {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	a {
		@media screen and (max-width: $break-mobile-max) {
			height: calc((100vw - 6em) * 0.748);
			margin-bottom: 1em;
		}
	}
}