@import "../../../variables";

.lazy-load-image-background {
  display: block !important;
}

.container--workitem {
	position: relative;
	border-radius: 2em;
	border: 1px solid rgba(0,0,0, 0.1);
	width: 350px;
	height: 216px;
	margin-right: 1em;
	margin-bottom: 1em;
	overflow: hidden;
	cursor: pointer;
	.container--workitem-text {
		position: absolute;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    width: 100%;
	    color: $whitecolor;
	    opacity: 0;
	    z-index: 1;
	    .title--workitem {
	    	margin-top: 2em;
	    	font-size: 2em;
	    	margin-bottom: .3em;
	    	text-align: center;
	    }
	    .description-workitem {
	    	text-align: center;
	    }
	}
	img {
		width: 100%;
		opacity: 1;
		transition: all 300ms ease-in-out;
	}
	.container--workitem-hover {
		background: $blackcolor;
		opacity: 0;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    text-align: center;
	    width: 100%;
	    height: 100%;
	    transition: opacity 300ms ease-in-out;
	}
	&:hover {
		.container--workitem-text {
			opacity: 1;
			transition: all 300ms ease-in-out;
			@media screen and (max-width: $break-mobile-max) {
				opacity: 0;
				transition: none;
			}
		}
		img {
			transform: scale(1.05);
			opacity: .8;
			transition: all 300ms ease-in-out;
			@media screen and (max-width: $break-mobile-max) {
				transform: none;
				opacity: 1;
				transition: none;
			}
		}
		.container--workitem-hover {
			opacity: .6;
	    	transition: all 300ms ease-in-out;
	    	&--darker {
	    		opacity: .7;
	    	}
	    	@media screen and (max-width: $break-mobile-max) {
	    		opacity: 0;
	    		transition: none;
	    	}
		}
	}
	@media screen and (max-width: $break-tablet-min) {
		width: 100%;
		height: calc((100vw - 6em) * 0.618);
		margin-bottom: 3em;
	}
	@media screen and (max-width: $break-mobile-max) {
		height: 100%;
		width: 100%;
		box-sizing: border-box;
	}
}