@import "./variables";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	width: 100vw;
}

.container--margin {
	padding: 0 6em 0 6em;
	max-width: 1200px;
	@media screen and (min-width: $break-large) {		
		margin-left: auto;
		margin-right: auto;
	}
	@media screen and (min-width: $break-tablet-min) and (max-width: $break-tablet-max) {
		padding: 0 3em 0 3em;
	}
	@media screen and (max-width: $break-mobile-max) {
		padding: 0 $mobile-margin 0 $mobile-margin;
	}
}

a {
	text-decoration: none;
    color: inherit;
    transition: all 100ms ease-in-out;
    &:hover {
    	letter-spacing: 1px;
    	transition: all 200ms ease-in-out;
    	svg {
    		transform: scale(1.2, 1);
    		transition: all 200ms ease-in-out;
    	}
    	@media screen and (max-width: $break-mobile-max) {
    		letter-spacing: 0;
    	}
    }
}

svg {
	transition: all 100ms ease-in-out;
}

.link--svg {
	&:hover {
		span {
			margin-left: 4px;
			transition: margin-left 200ms ease-in-out;
		}
	}
}

span {
	transition: margin-left 100ms ease-in-out;
}

