/* Colors */
$blackcolor: #000000;
$whitecolor: #ffffff;
$bluecolor: #85CAD0;
$whitehover: #ccc;
$blackhover: #444;

/* Breakpoints for media queries*/
$break-large: 1200px;
$break-tablet-max: 1024px;
$break-tablet-min: 768px;
$break-mobile-max: 415px;


/* Magic numbers */
$mobile-margin: calc((((100vw - 230px) / 2) - 30px) / 2);
